body{
    border:1px solid red;
    background: black;
    color:white;
    display:grid;
}
.top{

}

.middle{

}
.bottom{

}
h1{
    font:helvetica 600 white;
}
.about_me{

}
.img_wrapper{
    display: flex;

}
img{
    border: 4px solid green;
    width: 400px;
    height: auto;
    flex-direction: column;
}

footer{
    position:bottom;

}
