:root{
    --bg-color:linear-gradient(rgb(140, 216, 68),rgb(69, 108, 34),rgb(0,0,0));
}
    * {
    margin: 0;
    padding: 0;
    text-align: center;
}
body{ background: var(--bg-color);
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin:0;
    text-wrap: wrap;
}
.middlecolumn{
    display: flex;
    flex-direction: column;
    width: 200vh;
    height:150vh;
    padding:5px;
}
#sidebar{
    width: 25%;
    background: black;
    padding: 0;
    margin: 0;

}
header{ 
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    position:top;
}
h1 a{
    font-size: 18px;
}
h2{ align-content:center;
    font-size: 14px;
    color:black;
}
a{
    text-decoration: none;
    color:black;
}
.hamburger:hover{
    color: white;
    font-size: 24px;
}
ul {
    list-style:none;
}
.logo{
    text-wrap: wrap;
    font-weight: bolder;
}
.img_logo{
    width: 100px;
    height:auto;
    border-radius: 50px;
}
.title{
    font-size: 20px;
    align-items: center;
    justify-content: center;

}
.slideshow{
display:flex;
flex-direction:row;
position: relative;
width 200vh;
overflow: scroll;
scroll-behavior: smooth;
}
img{
    width:200px;
    height: 200px;
    border-radius: 20px;
    padding: 2px;
}
.overlay{
    display: flex;
    flex-direction: row;
    position:absolute;
    padding:0;
    margin: 0;
    top:0;
    bottom:0;
    width:205px;
    height: 205px;
    border-radius: 20px;
    opacity:0;
    transition: .05s ease;
    background-color: #0a4204;
}
.caption{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
.slideshow:hover .overlay:hover {
    opacity: 1;
  }

.about_me{
    font-size: 14px;
    text-wrap: wrap;
}
.footer{
    position:fixed;
    padding:5px;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color:#0a4204;
    color: white;
    text-align: center;
    
}
#form{
    color:white;
}
#form:hover{
    color: black;
    font-weight: bolder;
    font-size: 24px;
}
